---
import './hero.css';
import Boton from '../atoms/Boton.astro';
---

<section class="hero">

	<div class="hero__container">
		<div class="text__content">
			<h1 class="hero__title color__gradiente">Canks</h1>
			<p class="hero__text">
				Full Stack Developer yang ahli dalam teknologi modern.
			</p>
			<Boton href="#about" texto="Selengkapnya"/>
		</div>
    <img
			class="hero__img"
			src="/img/me-1x1.png"
			alt="Canks"
			width="384"
			height="384"
		/>
	</div>
</section>
