---
import Title from '../atoms/Title.astro';
import SkillsOnTerminal from './components/skills-on-terminal/skillsOnTerminal.astro';
import './skills.css';
---

<section id="skills">
	<SkillsOnTerminal />
	<div class="text-content">
		<Title contenido="Keterampilan" />
		<p>
			Berpengalaman sebagai Full Stack Developer dalam membangun aplikasi web dari perancangan hingga deployment. 
			Menguasai backend dengan Laravel, NestJS, ExpressJS, Bun, dan Gofiber, serta frontend React, NextJS, Angular, dan VueJS. 
			Terbiasa mengelola MySQL, PostgreSQL, MongoDB, dan Redis, berpengalaman mengembangkan sistem ERP dan aplikasi enterprise, 
			serta mendukung proses DevOps dengan Docker, Git, Jenkins, dan Nginx.
		</p>
	</div>
</section>
