---
import SocialIcons from '../SocialIcons.astro';
import Title from '../atoms/Title.astro';
import "./about.css"


---

<section id="about" class="about">
	<div class="about__container">
		<img
			class="about__img"
			src="/img/about-me.png"
			alt="About Canks"
		/>

		<div class="about__content">
			<Title margin="1rem" contenido="Tentang Saya" />
			<p class="about__text">
				Saya pengembang web sejak 2020, dengan minat besar terhadap teknologi. Saya terus belajar dan 
				mengikuti perkembangan terbaru untuk memahami cara perusahaan teknologi terkemuka menciptakan 
				sistem yang andal. Dengan semangat tinggi, saya berusaha mengasah keterampilan dan berkontribusi 
				pada proyek yang berdampak positif bagi pengguna
			</p>
			<SocialIcons width="25" height="25"/>
		</div>
	</div>

</section>
